body {
    background-color: #161616;
    color: #FFFFFF;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    margin: 0;
}

.container {
    border: 2px solid #ff5500;
    border-radius: 15px;
    padding: 20px;
    width: 350px;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.extension-title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 5px 0;
}

h1 {
    color: #ff5500;
    text-align: left;
    margin-bottom: 15px;
    font-size: 18px;
}

.settings-category {
    display: none;
    background-color: #333;
    border-radius: 5px;
    border: 1px solid #444;
}

.settings-category.active-category {
    display: block;
}

.setting-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    min-height: 30px;
}

.setting-item:not(:last-child) {
    border-bottom: 1px solid #444;
}

label {
    font-size: 16px;
    flex-shrink: 0;
    margin-right: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ff5500;
    border-radius: 5px;
    background-color: #333333;
    color: #FFFFFF;
    transition: border-color 0.3s;
    margin-bottom: 4px;
}

input[type="text"]:focus {
    border-color: #FF8800;
    outline: none;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
    gap: 10px;
}

.tab-button {
    background-color: #303030;
    color: #FFF;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    flex: 1;
}

.tab-button:hover {
    background-color: #504F4F;
}

.tab-button.active {
    background-color: #ff7300;
    color: #1E1E1E;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    margin: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    right: 0;
    bottom: 0;
    background-color: #CCC;
    transition: .4s;
    border-radius: 34px;
    height: 20px;
    width: 78%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0;
    bottom: 0;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.slider-container label {
    font-size: 1rem;
    color: #FFFFFF;
}

.range-slider {
    -webkit-appearance: none;
    appearance: none;
    flex: 1;
    height: 6px;
    width: 100%;
    background: #959595;
    border-radius: 5px;
    outline: none;
    transition: background 0.3s;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: #ff5500;
    border-radius: 50%;
    cursor: pointer;
}

.range-slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background-color: #ff5500;
    border-radius: 50%;
    cursor: pointer;
}

.limit-label {
    font-size: 1rem;
    display: inline-block;
}

#sliderValue {
    font-size: 1rem;
    color: #FFFFFF;
    text-align: left;
}

input:checked + .slider {
    background-color: #ff5500;
}

input:checked + .slider:before {
    transform: translateX(26px);
}